.delete-btn {
  background-color: rgb(97, 0, 0);
  color: white;
  padding-inline: 0px;
  padding-block: 0px;
  width: 50%;
  height: 40%;
  font-size: 0.7em;
}

@media only screen and (max-device-width: 480px) {
  .delete-btn {
    padding-block: 0.7px;
    padding-inline: 5px;
  }
}
