.task-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 70%;
  background-color: var(--primary-color);
  opacity: 0.9;
  border-radius: 4px;
  position: absolute;
  z-index: 1000;
}
