.container {
  background-color: var(--background-color);
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text {
  color: var(--primary-text-color);
}
.tasks-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 92%;
  background-color: var(--background-color);
}
.tasks {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.task {
  width: 95%;
  height: 190px;
  background-color: var(--background-color);
  border-radius: 8px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 5px 6px 1px rgba(0, 0, 0, 0.4);
  position: relative;
}
.task input {
  color: var(--secondary-text-color);
}
.task-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25%;
}
.task-title button {
  position: absolute;
  left: 1%;
  top: 80%;
  border-radius: 0px;
  padding: 0.1em;
  font-size: 1em;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  color: var(--secondary-text-color);
}
.title {
  text-align: left;
  width: 80%;
  padding-inline: 40px;
  padding-block: 5px;
  font-size: 1.7em;
  background-color: transparent;
}
.title:focus {
  border: none;
  border-bottom: 1px solid var(--secondary-text-color);
}
.date {
  text-align: left;
  padding-inline: 10px;
  padding-block: 5px;
  background-color: rgb(48, 48, 48);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.23);
}
.task-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75%;
}
.taskState {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  text-transform: capitalize;
  color: var(--secondary-text-color);
}
.description {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.description textarea {
  width: 80%;
  height: 80%;
  resize: none;
  background-color: transparent;
  padding: 5px;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
}
.description textarea::placeholder,
.task-title input::placeholder {
  color: rgb(204, 202, 202);
  font-weight: 400;
}
.description textarea:focus {
  border: 1px solid white;
  outline: none;
}
.description textarea:disabled {
  color: var(--secondary-text-color);
}
.edit-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 190px;
  margin: 18px auto;
}
@media only screen and (max-device-width: 480px) {
  .tasks-container {
    height: 80%;
  }
  .title {
    width: 100%;
    font-size: 1em;
    padding-inline: 0px;
    text-align: center;
  }
  .description {
    width: 100%;
    height: 75%;
  }
  .taskState {
    height: 25%;
    width: 100%;
  }
  .description textarea {
    font-size: 0.6em;
    width: 100%;
  }
  .task-title {
    flex-direction: column;
  }
  .task-description {
    flex-direction: column;
  }
  .task,
  .edit-task {
    height: 220px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  .date {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-inline: 0px;
  }
  .task-title button {
    top: 3%;
    left: 3%;
  }
}
