* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --primary-text-color: rgb(255, 255, 255);
  --background-color: #ffffff;
  --background-color-opacity: rgba(187, 187, 187, 0.8);
  --secondary-background-color: #283452;
  --secondary-text-color: rgb(255, 255, 255);
  --secondary-color: rgb(255, 255, 255);
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
  --primary-color: #4f689a;
  --complete-color: #499635;
  --inprocess-color: #949494;
  --placeholder-color: #5a5a5a;
}

a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
}
body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  color: var(--primary-text-color);
}
h2 {
  font-size: 1.2em;
  line-height: 1.1;
  color: var(--primary-text-color);
}
h3 {
  font-size: 1em;
  line-height: 1.1;
  color: var(--primary-text-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
input {
  background-color: var(--background-color);
  border: none;
  color: var(--primary-text-color);
  padding: 3px;
}
textarea {
  color: var(--primary-text-color);
}
textarea::placeholder {
  color: var(--placeholder-color);
}
input::placeholder {
  color: var(--placeholder-color);
}
input:focus {
  outline: none;
}
input:disabled {
  color: var(--primary-text-color);
  border-color: var(--primary-text-color);
}
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}
input[type='date']::-moz-calendar-picker-indicator {
  display: none;
}
input[type='date']::-ms-clear {
  display: none;
}
@media (prefers-color-scheme: light) {
  :root {
    color: var(--primary-text-color);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--primary-color);
    color: white;
  }
}

[data-theme='dark'] {
  --background-color: #283452;
  --background-color-opacity: rgba(40, 52, 82, 0.8);
  --secondary-background-color: #ffffff;
  --primary-text-color: #ffffff;
  --toggle-bg: #212b44;
  --toggle-fg: #00a6ff;
  --primary-color: rgb(18, 28, 46);
  --complete-color: #1e4d13;
  --inprocess-color: #5a5a5a;
  --placeholder-color: #bdbdbd;
}

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 1.1em;
  }
  h2 {
    font-size: 1em;
  }
  h3 {
    font-size: 0.8em;
  }
}
