.create-container {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 130px;
  margin: 18px auto;
  border: 2px var(--secondary-background-color);
  border-style: dashed;
  stroke-dashoffset: 20px;
  border-radius: 8px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}
.create-container input {
  color: var(--secondary-text-color);
}
.checks {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.checks div {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-block: 10px;
}
.checks h3 {
  color: var(--secondary-text-color);
}
.create-buttons-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: -100%;
}
.create-button {
  margin-top: 10px;
}
.exit-create-button {
  margin-top: 10px;
  background-color: rgb(97, 0, 0);
  margin-left: 5px;
}
.task-create-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.task-create-description {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 100%;
}
.description-create {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.description-create textarea {
  width: 97%;
  height: 80%;
  resize: none;
  padding: 5px;
  border: none;
  font-size: 0.9em;
  text-align: justify;
  background-color: transparent;
  font-style: italic;
}
.date-create {
  width: 30%;
  text-align: center;
  color: white;
  background-color: transparent;
}
@media only screen and (max-device-width: 480px) {
  .create-container {
    height: 320px;
  }
  .checks {
    width: 100%;
    height: 25%;
    margin-block: 0px;
    align-items: center;
  }
}
